@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Quicksand", sans-serif;
    background: url(modelgirls.png) no-repeat center / cover;
}
.main{
    width: 400px;
    height: 550px;
    background-color: #6c4242;
    overflow: hidden;
    
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}
#chk{
    display: none;
}
.signup{
    position: relative;
    width: 100%;
    height: 100%;
}
label{
    color:#fff;
    font-size: 2.3em;
    justify-content: center;
    border-bottom: #fff solid;
    padding: 12px;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: 1s ease-in-out;
}
input{
    width:60%;
    height: 20px;
    background:#e0dede ;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
button{
    width: 60%;
    height: 40px;
    margin:10px auto ;
    justify-content: center;
    display: block;
    color: black;
    background:#d3b3b3 ;
    font-size: 1em;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    margin-top: 20px;
    outline:none;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
}
button:hover{
    background: #b68181;
}
.login{
    height: 460px;
    background: #eee;
    border-radius: 60% /10%;
    transform: translateY(-180px);
    transition: 0.8s ease-in-out;
}
.login label{
    color: black;
    border-bottom: black solid;
    transform: scale(0.6);
}
#chk:checked ~ .login{
    transform: translateY(-500px);
}
#chk:checked ~ .login label{
    transform: scale(1);
}
#chk:checked ~ .signup label{
    transform: scale(0.6);
}