@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Quicksand", sans-serif;
    background-color: #1d1d1d;
    margin: 0;
}
.primary-text{
    color:#ff99ab;
}
header{
    height: 100vh;
}
#logo{
    width: 6%;
    margin-left: 100px;
    margin-top: 10px;
}
#navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; 
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#navbar ul {
    display: flex;
    margin-right: 100px;
}
#navbar ul li a{
    padding: 15px 25px;
    color: white;
    
    font-weight: 600;
}
#navbar ul li i{
    color:white;
    
}
#navbar ul li :hover{
    border-bottom: 2px solid #ff99ab;
    
}
#navbar ul li a :hover{
    border-bottom: 2px solid #ff99ab;
}
.dropdown{
    position: relative;
    opacity: 0.9;
    z-index: 10;
}
.dropdown:hover .options {
    display: block;
  }
.options{
    display: none;
    position: absolute;
    background-color: #1d1d1d;
    
    width: 150px;
}
.options a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    position: relative;
} 

/* slider section start ========= */
.slider{
    width: 100%;
    height: 100vh; 
    position: relative;
    overflow: hidden;
}
/*opacity filter to make the text more clear*/
.slider::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 2; 
    pointer-events: none; 
}
.list{
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    display: flex;
    width: max-content;
    transition: 1s;
}
.list img{
    width: 1700px;
    height: 100vh; 
    object-fit: cover;
    z-index: 1;
}

.buttons{
    position: absolute;
    top: 50%; /* توسيط الأزرار رأسياً */
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%); /* لتعديل الموضع للأزرار */
    z-index: 10;
}
.buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff99ab;
    color: #fff;
    border:none;
    font-family: monospace;
    font-size: x-large;
    font-weight: bold;
}
.dots{
    position: absolute;
    bottom: 20px; 
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}
.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius:20px ;
    transition: 1s;
}
.dots li.active{
    width: 30px;
    
}
@media screen and (max-width : 768px){
    .slider{
        height:400px
    }
}

/* slider section end ========= */
.content {
    position: relative;
    bottom: 600px;
    left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: max-content;
    color: white;
    z-index: 7;
}
/* photos slider end========================= */
.content h1{
    font-size: 75px;
}
.content p{
    font-weight: 600;
    font-size: 20px;
}
.container{
    max-width: 1100px;
    margin: auto;
    
}
#about{
    background-color: #ece3e3;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about .title{
    text-align: center;
    margin-bottom: 3rem;
}
#about .title p{
    font-size: 17px;
}
#about h2{
    border:#1d1d1d;
    font-size: 30px;
    margin-bottom: 10px;
}
#about .info{
    display: flex;
    justify-content: space-between;
}
#about .info p{
    font-size: large;
    margin-right: 7rem;
    font-weight: 600;
    line-height: 1.6;
}
#contact{
    background-color: #cfafaf;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-content h3{
    text-align: center;
    margin-bottom: 3%;
    margin-top: 5%;
}
.contact-info p{
    display: inline;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}
.delivery p{
    text-align: center;
}
.social .icons{
    display: flex;
    justify-content: center;
    
}
.icons .icon{
    margin-left: 3%;
    margin-right: 3%;
}
.icons .icon a{
    color: black;
}
#footer{
    background-color: #b27f7f;
}
#footer p{
    text-align: center;
    font-weight: 500;
}