@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;

	/* Variables for storing colors */
	--card-clr: #af4a72;
	--body-clr: #d590b1;
	--primary-clr: #ffffff;
	--heading-clr: #000000;
	--text-clr: #000000;
}
body{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--body-clr);
}
header{
    height:15vh;
	position: fixed;
	top: 30px;
	
}

#logo{
    width: 6%;
    margin-left: 150px;
    margin-top: 25px;
}
#navbar{
     display: flex;
    justify-content: space-between;
    align-items: center;
	
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#navbar ul {
    display: flex;
    margin-right: 100px;
}
#navbar ul li a{
    padding: 15px 25px;
    color: black;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}
#navbar ul li i{
    color:black;
}
#navbar ul li :hover{
    border-bottom: 2px solid #ff99ab;
}
#navbar ul li a :hover{
    border-bottom: 2px solid #ff99ab;
}
.dropdown{
    position: relative;
    opacity: 0.9;
	z-index: 10;
}
.dropdown:hover .options {
    display: block;
  }
.options{
    display: none;
    position: absolute;
    background-color: white;
    width: 150px;
}
.options a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
} 
.testimonials-section{
	width: 100%;
	padding: 0px 8%;
}
.testimonials-section .section-header{
	max-width: 700px;
	text-align: center;
	margin: 30px auto 40px;
}
.section-header h1{
	position: relative;
	font-size: 36px;
	color: var(--primary-clr);
}
.testimonials-container{
	position: relative;
}
.testimonials-container .testimonial-card{
	padding: 20px;
}
.testimonial-card .test-card-body{
	background-color: var(--card-clr);
	box-shadow: 2px 2px 20px rgba(0,0,0,0.12);
	padding: 20px;
}
.test-card-body .quote{
	display: flex;
	align-items: center;
}
.test-card-body .quote i{
	font-size: 45px;
	color: var(--heading-clr);
	margin-right: 20px;
}
.test-card-body .quote h2{
	color: var(--heading-clr);
}
.test-card-body p{
	margin: 10px 0px 15px;
	font-size: 14px;
	line-height: 1.5;
	color: var(--text-clr);
}
.test-card-body .ratings{
	margin-top: 20px;
}
.test-card-body .ratings i{
	font-size: 17px;
	color: var(--primary-clr);
	cursor: pointer;
}
.testimonial-card .profile{
	display: flex;
	align-items: center;
	margin-top: 25px;
}
.profile .profile-image{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 15px;
}
.profile .profile-image img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}
.profile .profile-desc{
	display: flex;
	flex-direction: column;
}
.profile-desc span:nth-child(1){
	font-size: 24px;
	font-weight: bold;
	color: var(--primary-clr);
}
.profile-desc span:nth-child(2){
	font-size: 15px;
	color: var(--text-clr);
}
.owl-nav{
	position: absolute;
	right: 20px;
	bottom: -10px;
}
.owl-nav button{
	border-radius: 50% !important;
}
.owl-nav .owl-prev i,
.owl-nav .owl-next i{
	padding: 10px !important;
	border-radius: 50%;
	font-size: 18px !important;
	background-color: var(--card-clr) !important;
	color: var(--primary-clr);
	cursor: pointer;
	transition: 0.4s;
}
.owl-nav .owl-prev i:hover,
.owl-nav .owl-next i:hover{
	background-color: var(--primary-clr) !important;
	color: #e9e9e9;
}
.owl-dots{
	margin-top: 15px;
}
.owl-dots .owl-dot span{
	background-color: #434753 !important;
	padding: 6px !important;
}
.owl-dot.active span{
	background-color: var(--primary-clr) !important;
}
#footer{
    background-color: #b27f7f;
}
#footer p{
    text-align: center;
    font-weight: 500;
}