@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Quicksand", sans-serif;
    background-color: white ;
}
.primary-text{
    color:#ff99ab;
}
header{
    height:15vh;
}

#logo{
    width: 6%;
    margin-left: 150px;
    margin-top: 25px;
}
#navbar{
     display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#navbar ul {
    display: flex;
    margin-right: 100px;
}
#navbar ul li a{
    padding: 15px 25px;
    color: black;
    
    font-weight: 600;
}
#navbar ul li i{
    color:black;
}
#navbar ul li :hover{
    border-bottom: 2px solid #ff99ab;
}
#navbar ul li a :hover{
    border-bottom: 2px solid #ff99ab;
}
.dropdown{
    position: relative;
    opacity: 0.9;
}
.dropdown:hover .options {
    display: block;
  }
.options{
    display: none;
    position: absolute;
    background-color: white;
    width: 150px;
}
.options a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
}

/*body section================*/
.trick{
    text-align: center;
}
.trick h1{
    color: #B76E79;
}
.tips-details{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tips-details h2{
    margin: 15px;
    
}
.tips-details p{
    font-size: large;
    font-weight: 500;
    border-top: black solid 2px;
}
#footer{
    background-color: #b27f7f;
}
#footer p{
    text-align: center;
    font-weight: 500;
}